<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update To-Do</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Edit Task</h1>
            
            <form action="/edit/{{ task.id }}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="content" id="content" value="{{ task.content }}" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Edit Task</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>